html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

p {
    margin: 0;
}

#msgCntr {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(50, 50, 50, 0.5);
    position: fixed;
    top: 0;
    z-index: 500;
}

#msgBox {
    display: flex;
    flex-direction: column;
    background: rgb(235, 235, 235);
    box-shadow: 1px 1px 1px rgb(185, 185, 185);
    padding: 15px;
    border-radius: 5px;
}

#myForm {
    display: none;
    flex-direction: column;
}

#titleTextCntr {
    display: flex;
    justify-content: space-between;
    width: 600px;
}

div#playerOneText {
    display: flex;
    align-self: flex-start;
}

#gameCntr {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#boardCntr {
    display: flex;
    flex-wrap: wrap;
    width: 610px;
}

#boardSection {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 52px;
    width: 200px;
    height: 200px;
    background: pink;
    border: 1px solid black;
}